# ***Question 1***

1.Exercise 1 Write Python code that prints your name, student number and email address. An example runs of the program: Bob ST1001 bob@gmail.com1

In [ ]:
name = "Bob"
student_number = "ST1001"
email = "bob@gmail.com"
print(name)
print(student_number)
print(email)

Bob
ST1001
bob@gmail.com

# ***Question 2***

Write Python code that prints your name, student number and email address using escape sequences.     
An example runs of the program:
Bob
ST1001
bob@gmail.com

In [ ]:
name = "Bob"
student_number = "ST1001"
email = "bob@gmail.com"

print("Bob\nST1001\nbob@gmail.com")

Bob
ST1001
bob@gmail.com

# ***Question 3***

Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.  An example run of the program:  
14 + 7 = 21
14 * 7 = 98
14 â€“ 7 = 7
14 / 7 = 2

In [ ]:
x = 14
y = 7
print(x+y)
print(x-y)
print(x*y)
print(x/y)

21
7
98
2.0

# ***Question 4***

Write Python code that displays the numbers from 1 to 5 as steps.
An example runs of the program:
1
2
3
4
5

In [ ]:
for number in range(1, 6):
    print(number)

1
2
3
4
5

# ***Question 5***

Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:
An example runs of the program:  
"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

In [ ]:
print("\"SDK\" stands for \"Software Development Kit\", whereas\n\"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

# ***Question 6***

Practice and check the output
print("python is an \"awesome\" language.")

In [ ]:

print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri.
5
e
Entri
2023
Entri2023
Entri*2023

# ***Question 7***

Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?
num=23
textnum="57"
decimal=98.3

In [ ]:
num = 23
textnum = "57"
decimal = 98.3

print("Type of num:", type(num))
print("Type of textnum:", type(textnum))
print("Type of decimal:", type(decimal))
textnum_int = int(textnum)
total_sum = num + textnum_int + decimal
print("Sum of the variables:", total_sum)
print("Type of the sum:", type(total_sum))

Type of num: <class 'int'>
Type of textnum: <class 'str'>
Type of decimal: <class 'float'>
Sum of the variables: 178.3
Type of the sum: <class 'float'>

# ***Question 8***

calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [ ]:
days_in_a_year = 365  # Number of days in a year
hours_in_a_day = 24   # Number of hours in a day
minutes_in_an_hour = 60 #Number of minutes in an hour
total_minutes_in_a_year = days_in_a_year * hours_in_a_day * minutes_in_an_hour
print("This program calculates the total number of minutes in a year using the formula:")
print("Total minutes in a year = Number of days in a year * Hours in a day * Minutes in an hour")
print(f"Number of days in a year: {days_in_a_year}")
print(f"Number of hours in a day: {hours_in_a_day}")
print(f"Number of minutes in an hour: {minutes_in_an_hour}")
print(f"Total number of minutes in a year: {total_minutes_in_a_year}")

This program calculates the total number of minutes in a year using the formula:
Total minutes in a year = Number of days in a year * Hours in a day * Minutes in an hour
Number of days in a year: 365
Number of hours in a day: 24
Number of minutes in an hour: 60
Total number of minutes in a year: 525600

# ***Question 9***

Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.
An example runs of the program:
Please enter you name: Tony
Hi Tony, welcome to Python programming :)

In [ ]:
name = input("Please enter your name: ")
print(f"Hi {name}, welcome to Python programming!")

Please enter your name: RANIL KR
Hi RANIL KR, welcome to Python programming!